0 0 0                               ! Restart (0=no, 1=yes), Number of images to store (0,1,2,...), Final image (0=no, 1=yes)
0                                   ! Debug level (0=none, 1=min., 2=mid., 3=max.)
2	                            ! Interpolation order (P0=0, P1=1, P2=2)
0 0                                 ! Input mesh (0=read from disk, 1=built on the fly) - Mesh type (1=regular, 2=unregular) (only for built-in mesh )
0                                   ! Level of details in the output report (0=min, 1=max)
1.	                            ! Printing frequency in the output report (% of completion)
40                               ! Duration of simulation (s) 
1 6 0. 310000. 390000. 4690000 4770000.  500. 0.2  ! Snapshot(1=yes,0=no), plane(1=YZ,2=XZ,3=XY), plan coord., x1min, x1max, x2min, x2max, dx (m), dt (s)
'GEODG3D.acquisition'               ! Name of the acquisition file
5000.0 5000.0 5000.0 5000.0 5000.0 0.0           ! Length of PML layer (m) in each direction (xmin, xmax, ymin, ymax, zmin, zmax)	  
1 2. 0.01 1. 7711. 0.2              ! CPML parameters (interpolation order, npower, rcoef, frequency, vmax, additionnal damping)
-1  	                            ! Test case identification (cf. below)
674400.	                            ! Maximum authorized elapse time in second (0.= no time limit)     
1000                                ! Nb of time steps between 2 seismograms recording (if 0 take by default 1000) 
1 1. 100. 70.                        ! Pk adaptation (0=no, 1=yes), max frequency, limit P0, limit P1
0.                                  ! dt to use (if 0. compute the required time step)
1 0.05 0                            ! Output seismograms (0=no, 1=yes), dt used to record, frequency solution (0=no, 1=yes)
2                                   ! Output components (1=only pressure, 2=pressure + velocities)
1                                   ! Nb sources computed in parallel
1	                            ! Type of source (0 = point source, 1 = finite source)
0                                   ! Type of simulation (0 = kinematic, 1 = dynamic)
0                                   ! Normal stress (0 = fixed, 1 = variable)
1 1                                 ! Fault snapshots (0 = no, 1 = yes), dt between snap. (s)
'AmatricePizzi2017dhF500m.vector' ! Fault vectors file
'fcoor_AmatricePizzi2017_dhF500m_ID_1.in'! Fault position, initial state and parameters file
'srate_str_AmatricePizzi2017_dhF500m_ID_1'                ! Along-strike slip rate functions in all fault point
'srate_dip_AmatricePizzi2017_dhF500m_ID_1'                ! Along-dip slip rate functions in all fault point
'GEODG3D.acqfault'                  ! Name of the fault acquisition file



-----------------------------------------------------------------------
 			Test case definition 
               (See DGM/miscellaneous/physical_data.f90)
-----------------------------------------------------------------------

0  - Physical properties are read from files	  (Vp,Vs,Rho)
1  - Homogeneous medium 			  (4000,2310,2000)
2  - Heterogeneous medium elastic/elastic 	  (1500,0,1000/4000,2310,2000)
3  - Heterogeneous medium acoustic/elastic 	  (3000,1730,2000/4000,2310,2000)
4  - Homogeneous medium Mix DG Pk/P0 without CPML (4000,2310,2000)
5  - Homogeneous medium for VOLVI 		  (1500,200,2100)
6  - Homogeneous medium Mix DG Pk/P1 without CPML (4000,2310,2000)
7  - WP1_HHS1 from SPICE 			  (6000,3464,2700)
8  - Homogeneous acoustic medium 		  (4000,0,2000)
9  - Homogeneous RUSTREL model 			  (5000,3000,2600)
10 - Eigen mode in unit cube 			  (1,0.5,1)
11 - Homogeneous acoustic medium 		  (4500,0,2000)
12 - Validation of gradient 			  (4300,0,2000/4000,0,2000)
13 - TPV3 Dynamic rupture			  (6000,3464,2670)
						  (Vp,Vs,Rho,Qp,Qs)
14 - WP3 LOH3 (Layer over a half-space)		  (4000,2000,2600,120,40)
						  (6000,3464,2700,180,80)

-------------------------------------------------------------------------
          Structure of the fault vectors file
-------------------------------------------------------------------------

Number of plane fault segments
Column #1: x-component normal vector
Column #2: y-component normal vector
Column #3: z-component normal vector
Column #4: x-component rake vector
Column #5: y-component rake vector
Column #6: z-component rake vector
Column #7: x-component prake vector
Column #8: y-component prake vector
Column #9: z-component prake vector

NOTE: The normal vector points to the tetrahedra with the rake vector given

-------------------------------------------------------------------------
         Fault position, initial state and parameters file
-------------------------------------------------------------------------

Number of fault points
Column #1: Along x-axis distance (m) 
Column #2: Along y-axis distance (m) 
Column #3: Along z-axis distance (m)
Column #4: Initial along-rake shear stress (Pa) 
Column #5: Initial along-prake shear stress (Pa) 
Column #6: Initial normal stress (Pa) 
Column #7: Static friction coefficient 
Column #8: Dynamic friction coefficient 
Column #9: Slip weakening distance (m) 
Column #10: Cohesion (Pa) 
Column #11: Time of forced rupture (s)

-----------------------------------------------------------------------
         Example of the information required for a point source
-----------------------------------------------------------------------
First 18 lines are equal
0	                            ! Type of source (0 = point source, 1 = finite source)
'ricker_10Hz'                       ! Name of source file
0 0.0001 0.                         ! frequency function (1=yes, 0=no), dt used in source file (s), distance sigma for smooth source (m),  point source type (0 = stress tensor, 1 = force)  
1. 1. 1. 0. 0. 0.                   ! Stress tensor (Mxx, Myy, Mzz, Mxy, Mxz, Myz) (in Pa) or Force magnitude (f1, f2, f3, 0., 0., 0.) (in N)

-----------------------------------------------------------------------
         Example of the information required for a finite source
-----------------------------------------------------------------------
First 18 lines are equal
1                                   ! Type of source (0 = point source, 1 = finite source)
1                                   ! Type of simulation (0 = kinematic, 1 = dynamic)
0                                   ! Normal stress (0 = fixed, 1 = variable)
1 0.25                              ! Fault snapshots (0 = no, 1 = yes), dt between snap. (s)
'TPV3_vectors.in'                   ! Fault vectors file
'dynamic-TPV3.in'                   ! Fault position, initial state and parameters file
'GEODG3D.acqfault'                  ! Name of the fault acquisition file

NOTE: The kinematic option is not yet implemented
